@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  &::-webkit-scrollbar {
    display: none;
  }
}

body {
  background-color: #000;
  color: #fff;
  padding: 0 24px;
  position: relative;
}

input {
  border: 0;
  outline: 0;
}

.font-orbitron {
  font-family: "Orbitron", monospace;
}

.bgpic {
  background-image: url("./assets/crashbg.png");
  background-position: center 20px;
  background-repeat: no-repeat;
}
